body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choices{
    margin-bottom: 30px;
}

.choices button{
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 250px;
    background-color: #309922;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.choices button:hover{
    background-color: #97ff10;
}

#playerChoice, #compChoice{
    font-size: 2.5rem;
}

#resultsDisplay{
    font-size: 5rem;
    margin: 30px 0;
}